.container {
  font-size: 20px;
}

.body {
  background-color: #999;
  width: 40px;
  height: 40px;
  margin: 8px;
  padding: 0px;
  text-align: center;
  vertical-align: text-top;
  font-size: 1px;
  border-radius: 20px;
  box-shadow:2px 2px 2px 0px rgba(0,0,0,0.7) ,2px 2px 1px 0px rgba(255,255,255,0.7) inset;;
}

.cursor {
  background-color: #f00;
  width: 4px;
  height: 10px;
  display: inline-block;
  margin: 0px;
  box-shadow:1px 0px 1px 0px rgba(0,0,0,0.5) inset;
}
